{% extends 'ProjetDarnaBundle::layout1.html.twig' %}
{% block content %}
    

      
    <center><h1><font color="#337AB7"> Rechercher des Entreprises </font></h1></center><br>
    <form method="POST">
    Nombre d'étage {{form_widget(offre.nbrEtage)}}     {{form_widget(offre.Rechercher,{'attr':{'class':'btn btn-primary'}})}}
{{form_rest(offre)}}
    </form>
    <table class="table table-hover">
    <tr>
        
        <td><font color="green"> Description</font> </td>
        <td> <font color="green">Date</font> </td>
        <td><font color="green"> Région </font></td>
        <td><font color="green"> Prix</font> </td>
        <td> <font color="green">Surface </font></td>
        <td> <font color="green">Engagement</font> </td>
        <td> <font color="green">Surface couverte</font></td>
        <td> <font color="green">Nombre d'étage</font></td>
        <td> <font color="green">Image</font></td>
    </tr>
    {% for i in offres %}
        <tr>
            
            <td> {{ i.description }} </td>
            <td> {{ i.date }} </td>
            <td> {{ i.region }} </td>
            <td> {{ i.prix }} </td>
            <td> {{ i.surface }} </td>
            <td> {{ i.engagement }} </td>
            <td> {{ i.surfacecouverte }} </td>
            <td> {{ i.nbrEtage }} </td>
      <td><img src="{{ asset('uploads/documents/'~i.path) }}" alt="monimg2" width="100" height="100"/></td>
             </tr>
        {% endfor %}
</table>
      {{ socialButtons() }}
{% endblock %}
