{% extends "ProjetDarnaBundle::layout1.html.twig" %}


{% block content %}
     <center><h1><font color="#337AB7"> Liste des Agences </font></h1></center><br>
     <table cellspacing=6 width=100%> <tr>
             <td><div align="left" >    <a href="  {{ path('Afficher_agence') }} "><input type="submit" class="btn btn-primary" value="Ajouter une Agence"/></a>
     </div></td>
     
   
</tr></table>
    <center>  
    <table class="table table-hover">
            <tr>
                <td> Adresse</td> 
                <td> Télephone  </td>
                <td> Nom </td>
               
                
                 <td> <font color="red">Supprimer</font></td>
                <td><font color="green"> Modifier</font></td>
              
                
            </tr>


            {% for i in agence %}


                <tr> <td> <font color="purple"> {{ i.adresse}}</font></td>
                    <td> <font color="purple"> {{ i.tel}}</font></td>
                    <td> <font color="purple"> {{ i.nom }}</font></td>
                  
   <td><font color="purple"> <a  href="{{ path('supprimer_agence',{'id':i.id}) }}"><img src="{{asset('images/delete.png')}}"/></a></font></td>
<td><font color="purple"> <a  href="{{ path('modifier_agence',{'id':i.id}) }}"><img src="{{asset('images/update.png')}}"/></a></font></td>

   
         

                
                </tr>
                {% endfor %}
        </table> 
        {{ socialButtons() }}
    </center>
{% endblock %}


