{# empty Twig template #}
{% extends "ProjetDarnaBundle::layout1.html.twig" %}




            {% block content %}
            
            <div class="container-fluid">
                

               
                <!-- /.row -->

                <div >
    
     
                 <div >
    
      <center>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Liste des Rendez-vous</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr class="success">
                                                <th>La Date</th>
                                                <th >Le Lieu</th>
                                            
                                                <th >Nom et prenom du Client</th>
                                                <th >Téléphone</th>
                                                <th >Details Offre</th>
                                                <th >Supprimer Offre</th>
                                        
                                     {% for r in Rendezvous %}    
                                           
                                     
                                           <tr class="active">
                            <td>{{r.date}}</td>
                            <td>{{r.lieu}}</td>
                             
                             <td>{{r.idclient.nom}} {{r.idclient.prenom}}</td>
                             <td>{{r.idclient.tel}}</td>
                              <td>{{r.idoffre.description}} {{r.idoffre.id}}</td>   
                                <td>
                                     <font class="btn btn-sm btn-success"> 
                                    <a  href="{{ path('ModifierRendez',{'id':r.id}) }}">modifier</a>
                                    </font>
                                    
                                     <font class="btn btn-sm btn-success"> 
                                    <a  href="{{ path('RechercheRendez') }}">Chercher</a>
                                    </font>
                                    
                                  <font class="btn btn-sm btn-warning"> 
                                    <a  href="{{ path('SupprimerRendez',{'id':r.id}) }}">supprimer</a> </font>
                             
                                   </td>
                               
                                </tr>  
                                
                                {% endfor %}
                       
                                        </tbody>
                                    </table>
                                </div>
                               
                            </div>
                        </div> {{ socialButtons() }}
                                  </center>
                    </div>   
                   
                <!-- /.row -->
</div>
               
</div> 
                <!-- /.row -->
            {% endblock %}
         
               
          


