{% extends "ProjetDarnaBundle::layout.html.twig" %}


{% block content %}
    <center>  
       
    <form  method="POST" >
        <h3>Remplir votre Alerte</h3>  
        <table style="height: 400px">
        <tr>
             <td style="font: bold;font-size: 18px " > PrixMin</td>
             <td> 
                 {{form_widget(Alerte.prixmin,{'attr':{'class':'form-control'}})}}
                
             </td>
               

        </tr>
        
        <tr>
             <td style="font: bold;font-size: 18px">PrixMax</td>
             <td>{{form_widget(Alerte.prixmax,{'attr':{'class':'form-control'}})}}</td>
             
        </tr>
        </br></br></br></br>
        <tr>
             <td style="font: bold;font-size: 18px">Region</td>
             <td>{{form_widget(Alerte.region,{'attr':{'class':'form-control'}})}}</td>
        </tr>
       
        <tr>
             <td style="font: bold;font-size: 18px">Description de l'Offre</td>
             <td>{{form_widget(Alerte.idoffre,{'attr':{'class':'form-control'}})}}</td>
        </tr>
         <tr>
             <td style="font: bold;font-size: 18px">Nom  Client</td>
             <td>{{form_widget(Alerte.idclient,{'attr':{'class':'form-control'}})}}</td>
        </tr>
         <tr>
             <td style="font: bold;font-size: 18px">Type De bien</td>
             <td>{{form_widget(Alerte.typedebien,{'attr':{'class':'form-control'}})}}</td>
        </tr>
        <tr>
             <td style="font: bold;font-size: 18px">Surface</td>
             <td>{{form_widget(Alerte.surface,{'attr':{'class':'form-control'}})}}</td>
        </tr>
        <tr>
             <td style="font: bold;font-size: 18px">Engagement</td>
             <td>{{form_widget(Alerte.engagement,{'attr':{'class':'form-control'}})}}</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        </table>
       
         <input type="submit" class="btn btn-primary"  value="Envoyer">
         {{form_rest(Alerte)}}
         
       
    </form>
       
    </center>
         <br><br>
                  <br><br>
                           <br><br>
         <br><br>


         {%endblock%}
